@model IEnumerable<MediaVoirAdmin.Models.RatingData>

@{
    ViewBag.Title = "Rating_PakistanTVRatingsForBroadcasters";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <hr />
    <script>
        window.onload = function () {

            CanvasJS.addColorSet("greenShades",
                [//colorSet Array

                    "#333FFF",
                    "#6633FF",
                    "#FF3333",
                    "#F40505",
                    "#6FF405",
                    "#F47D05",
                    "#05F471",
                    "#05D5F4",
                    "#D305F4",
                    "#A09AE8",
                    "#F4E10E"
                ]);

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "light1", // "light1", "light2", "dark1", "dark2"
        colorSet: "greenShades",
        title: {
            text: "Rating Data"
        },
        axisY: {
            title: "Viewers Percentage"
        },
        data: [{
            type: "pie", //bar, pie,column
            dataPoints: @Html.Raw(ViewBag.RatingData)
        }]
    });
    chart.render();

    }
    </script>




</head>
<body>
    <div>
        <h1 class="text-cnter" style="font-size:30px;font-weight:bold;color:white;background-color:red">MediaVoir Rating Graph</h1>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>
    


    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>



